<div class="flex flex-wrap">
  <!-- Left side -->
  <div class="w-full md:w-1/2 h-screen">
    <div
      class="flex flex-col justify-center md:justify-start px-2 sm:px-4 md:px-24 mt-12">
      <div class="px-0 sm:px-16 md:px-4">
        <h1 class="text-md sm:text-lg md:text-2xl text-left my-1 font-semibold">
          Bem Vindo
        </h1>
        <p
          class="text-sm sm:text-md md:text-lg text-left text-neutral-500 my-1 font-medium">
          Por favor entre com suas credenciais
        </p>
      </div>

      <form
        autocomplete="off"
        class="px-0 sm:px-16 md:px-4 flex flex-col mt-6 md:pt-4 justify-end">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            autocomplete="false"
            type="text"
            id="email"
            placeholder="Email"
            matInput />
        </mat-form-field>

        <mat-form-field class="w-full my-2">
          <input
            autocomplete="false"
            [type]="hide() ? 'password' : 'text'"
            placeholder="Senha"
            matInput />
          <button
            mat-icon-button
            matSuffix
            class="pr-12"
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon >{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-label>Senha</mat-label>
        </mat-form-field>

        <button mat-flat-button>Login</button>
      </form>

      <div class="text-center py-8">
        <p class="text-sm md:text-md no-select">
          <span class="text-neutral-600 dark:text-neutral-400"
            >Não tem uma conta ?</span
          >
          <a
            class="font-semibold underline hover:cursor-pointer ml-2 text-neutral-800 dark:text-neutral-300"
            >Cadastre-se</a
          >
        </p>
      </div>
    </div>
  </div>

  <!-- Right side -->
  <div class="hidden md:block md:w-1/2 relative">
    <div class="z-10 absolute bottom-0 mx-12 lg:mx-24 my-4">
      <p class="text-2xl font-bold text-white mb-4">
        Uma solução para organizar e simplificar o seu dia a dia da sua família.
        O Life Manage está aqui para te ajudar nesta tarefa.
      </p>

      <p class="text-md font-semibold text-white opacity-80">
        &#64;Life Manage Corporate
      </p>
    </div>

    <img
      class="z-0 absolute top-0 object-cover w-full h-full"
      src="assets/images/wallpaper.png"
      alt="Wallpaper" />
  </div>
</div>
